<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Challenge</h1>
    <br/>

    Please navigate to the APIs to see the results.
  </body>
</html>
