<!DOCTYPE html>
<html>
<head>
    <title>Active Users Count</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Challenge</h1>
<br/>
<p>Please Select a year and submit to see the New users that joined this year</p>
<form method="post" action="/newuserCount">
    <input type="text" name="year"/>
    <br/>
    <button type="submit">Submit</button>
</form>
</body>
</html>